<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body style="background: url('images/image.png');">
    <div class="login">
        <form class="form">
            <label>UserName &nbsp;:&nbsp;</label>
            <input type="text" id="username" required><br><br><br>
            <label>Password&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;</label>
            <input type="password" id="password" required><br><br><br>
            <button type="submit" onclick="validate()">login</button>
        </form>
    </div>
    <script>
        function validate(){
            var user = document.getElementById('username').value;
            var pass = document.getElementById('password').value;
            if (user == 'FM' && pass == 9447)
            {
                alert("Login Successfull");
                window.open("about-login.html");
            }
            else if (user == 'Prajitha.R' && pass == 9876)
            {
                alert("Login Successfull");
                window.open("about-login.html");
            }
            else{
                alert("Invalid Username Or Password");
            }
        }
    </script>
</body>
</html>